<div id="<%= dom_id engine %>">
  <p>
    <strong>Code:</strong>
    <%= engine.code %>
  </p>

  <p>
    <strong>Displacement:</strong>
    <%= engine.displacement %>
  </p>

  <p>
    <strong>Horsepower:</strong>
    <%= engine.horsepower %>
  </p>

</div>
